#background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  fill: #000000;
}

.battery-text {
  font-family: Colfax-Regular;
  font-size: 20;
  text-length: 4;
  x: 50;
  y: 26;
  fill: #FFFFFF;
}

.battery-fill {
  width: 26;
  height: 11;
  y: 13;
  x: 13;
  fill: #66FF66;
}

.battery-img {
  width: 32;
  height: 17;
  y: 10;
  x: 10;
}

#iconHRM {
  width: 24;
  height: 24;
  y: 7;
  x: 89%;
  fill: #FF214A;
}

.hrm-text {
  font-family: Colfax-Regular;
  font-size: 20;
  text-length: 4;
  x: 86%;
  y: 26;
  text-anchor: end;
  fill: #FFFFFF;
}


.clock-text {
  font-family: Colfax-Light;
  font-size: 110;
  text-anchor: middle;
  text-length: 10;
  x: 50%;
  y: 65%;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}

.date-text {
  font-family: Colfax-Light;
  font-size: 26;
  text-anchor: middle;
  text-length: 10;
  x: 50%;
  y: 93%;
  width: 200;
  height: 24;
  fill: #FFFFFF;
}

